*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f9;
    font-family: Arial;
    line-height: 1.8;
    color: #333;
    padding: 20px;
}

.html-section {
    color: red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-section {
    color: grey;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

section {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



