.html-section {
    color: red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-section {
    color: grey;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
